# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints

# Environment
.env
.venv/
venv/
ENV/

# Logs
*.log

# Data
*.db
*.sqlite3
*.h5
*.csv
*.tsv
*.dat
*.mmdb
honeypot/data/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Test/coverage
.coverage
htmlcov/

# Misc
*.bak
*.swp 